# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [6]:
# Import your libraries:

%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine


# Challenge 0 - Load,Query and Create connection of your Dataset

#### A lot of the times you won't have files already saved in an Excel or CSV file for you to prepare your data, implying that a lot of times you'll be extracting data from a Data Warehouse or Data Lake, majority of times through SQL.
#### A couple of times you may want to do some queries on your table in mySQL to get a slight view on what you have in hands,
#### so let's simulate that!

#### First we'll need to create a database and table in mySQL:

##### 1º- Open the austin_weather.sql file in MySQL Workbench and run the script into a desired schema.

#### 2º- As we are in mySQL Workbench, we can do some queries there, to get an overview on some characteristics of our data:
 - a) How many days are recorded in the dataset?
 - b) What is the day with the Highest Temperature in Fahrenheit (column TempHighF)
 - c) What is the average Humidity across all days? (column HumidityAvgPercent)
 - d) Top 10 days, where SeaLevelPressureAvgInches is the highest, knowing DewPointAvgF is higher than 28 ?

In [ ]:
# Write your answers below:

# a) 13 days
# SELECT COUNT(DISTINCT Date) AS total_days
# FROM austin_weather;


# b) 29 July 2017 (107F)
# select Date, TempHighF
# FROM austin_weather
# order by TempHighF DESC
# Limit 1;

# c) 66.57 
# select avg(HumidityAvgPercent)
# FROM austin_weather;


# d)
# Date	SeaLevelPressureAvgInches	DewPointAvgF
# 19/11/2016 0:00	      30.54    	30
# 19/11/2016 0:00	      30.54  	30
# 19/11/2016 0:00	      30.54 	30
# 8/12/2016 0:00	      30.49 	31
# 8/12/2016 0:00	      30.49 	31
# 8/12/2016 0:00	      30.49 	31
# 31/12/2014 0:00	      30.48 	29
# 4/1/2015 0:00	      30.48 	30
# 1/1/2016 0:00	      30.48 	33
# 4/1/2015 0:00	      30.48 	30


# SQL CODE;
# select Date, SeaLevelPressureAvgInches, DewPointAvgF
# FROM austin_weather
# where DewPointAvgF >28
# order by SeaLevelPressureAvgInches DESC
# limit 10;

#### Now that you explored a couple of elements in your table, let's bring your table into this jupyter notebook, by creating a Python-SQL connection like you did on MySQL Project!
#### In case you need a little refresher check this [link](https://www.dataquest.io/blog/sql-insert-tutorial/).
##### 1º - Create a connection using sqlalchemy from python to mysql 
##### 2º- Load the table into a variable called weather_df

In [9]:
import pymysql
from sqlalchemy import create_engine
import getpass 
saved_password = getpass.getpass()

········

In [10]:
connection = pymysql.connect(host= 'localhost',
                             user= 'root',
                             password = saved_password,
                             db = 'austin_weather')

In [11]:

query = "SELECT * FROM `lab-intro-to-ml`.`austin_weather`;"
data = pd.read_sql_query(query, connection)

weather_df = data 
weather_df

/var/folders/q5/5zcd6_2115553r1tvx9_1vk40000gn/T/ipykernel_84253/1043961331.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(query, connection)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3952,2017-07-27,103,89,75,71,67,61,82,54,25,...,29.97,29.88,10,10,10,12,5,21,0,
3953,2017-07-28,105,91,76,71,64,55,87,54,20,...,29.9,29.81,10,10,10,14,5,20,0,
3954,2017-07-29,107,92,77,72,64,55,82,51,19,...,29.86,29.79,10,10,10,12,4,17,0,
3955,2017-07-30,106,93,79,70,68,63,69,48,27,...,29.91,29.87,10,10,10,13,4,20,0,
3956,2017-07-31,99,88,77,66,61,54,64,43,22,...,29.97,29.91,10,10,10,12,4,20,0,


# Challenge 1 - Describe the Dataset

#### Describe the dataset you have loaded: 
- Look at the variables and their types
- Examine the descriptive statistics of the numeric variables 
- Look at the first five rows of all variables to evaluate the categorical variables as well

In [46]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3957 entries, 0 to 3956
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        3957 non-null   datetime64[ns]
 1   TempHighF                   3957 non-null   int64
 2   TempAvgF                    3957 non-null   int64
 3   TempLowF                    3957 non-null   int64
 4   DewPointHighF               3936 non-null   float64
 5   DewPointAvgF                3936 non-null   float64
 6   DewPointLowF                3936 non-null   float64
 7   HumidityHighPercent         3951 non-null   float64
 8   HumidityAvgPercent          3951 non-null   float64
 9   HumidityLowPercent          3951 non-null   float64
 10  SeaLevelPressureHighInches  3948 non-null   float64
 11  SeaLevelPressureAvgInches   3948 non-null   float64
 12  SeaLevelPressureLowInches   3948 non-null   float64
 13  VisibilityHighMiles         3921 non-null   float64
 14  VisibilityAvgMiles          3921 non-null   float64
 15  VisibilityLowMiles          3921 non-null   float64
 16  WindHighMPH                 3951 non-null   float64
 17  WindAvgMPH                  3951 non-null   float64
 18  WindGustMPH                 3945 non-null   float64
 19  Events                      3957 non-null   object
dtypes: datetime64[ns](1), float64(15), int64(3), object(1)
memory usage: 618.4+ KB

In [47]:
weather_df.describe()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH
count,3957,3957.000000,3957.000000,3957.000000,3936.000000,3936.000000,3936.000000,3951.000000,3951.000000,3951.000000,3948.000000,3948.000000,3948.000000,3921.000000,3921.000000,3921.000000,3951.000000,3951.000000,3945.000000
mean,2015-10-11 00:00:00,80.862775,70.642911,59.902957,61.515244,56.632622,50.933689,87.872437,66.671982,44.958998,30.112204,30.022903,29.931892,9.991584,9.162204,6.840092,13.231587,5.008352,21.373384
min,2013-12-21 00:00:00,32.000000,29.000000,19.000000,13.000000,8.000000,2.000000,37.000000,27.000000,10.000000,29.630000,29.550000,29.410000,5.000000,2.000000,0.000000,6.000000,1.000000,9.000000
25%,2014-11-15 00:00:00,72.000000,62.000000,49.000000,53.000000,46.000000,38.000000,85.000000,59.000000,33.000000,29.990000,29.910000,29.820000,10.000000,9.000000,3.000000,10.000000,3.000000,17.000000
50%,2015-10-11 00:00:00,83.000000,73.000000,63.000000,66.000000,61.000000,56.000000,90.000000,67.000000,44.000000,30.080000,30.000000,29.910000,10.000000,10.000000,9.000000,13.000000,5.000000,21.000000
75%,2016-09-05 00:00:00,92.000000,83.000000,73.000000,73.000000,69.000000,65.000000,94.000000,74.000000,55.000000,30.210000,30.100000,30.020000,10.000000,10.000000,10.000000,15.000000,6.000000,25.000000
max,2017-07-31 00:00:00,107.000000,93.000000,81.000000,80.000000,76.000000,75.000000,100.000000,97.000000,93.000000,30.830000,30.740000,30.610000,10.000000,10.000000,10.000000,29.000000,12.000000,57.000000
std,NaN,14.762790,14.042353,14.187060,13.582999,14.862494,16.183366,11.035842,12.460478,16.970334,0.180103,0.172102,0.172101,0.163447,1.458511,3.682513,3.424229,2.085922,5.874167

In [14]:
weather_df.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

#### Given the information you have learned from examining the dataset, write down three insights about the data in a markdown cell below

#### Your Insights:

1. There are 21 variables in the dataset. 3 of them are numeric and the rest contain some text.

2. The average temperature in Austin ranged between around 70 degrees F and around 93 degrees F. The highest temperature observed during this period was 107 degrees F and the lowest was 19 degrees F.

3. When we look at the head function, we see that a lot of variables contain numeric data even though these columns are of object type. This means we might have to do some data cleansing.

#### Let's examine the DewPointAvgF variable by using the `unique()` function to list all unique values in this dataframe.

Describe what you find in a markdown cell below the code. What did you notice? What do you think made Pandas to treat this column as *object* instead of *int64*?

In [15]:
unique_dew_points = weather_df['DewPointAvgF'].unique()
print(unique_dew_points)

['49' '36' '27' '28' '40' '39' '41' '26' '42' '22' '48' '32' '8' '11' '45'
 '55' '61' '37' '47' '25' '23' '20' '33' '30' '29' '17' '14' '13' '54'
 '59' '15' '24' '34' '35' '57' '50' '53' '60' '46' '56' '51' '31' '38'
 '62' '43' '63' '64' '67' '66' '58' '70' '68' '65' '69' '71' '72' '-' '73'
 '74' '21' '44' '52' '12' '75' '76' '18']

In [ ]:
"""The unique values inlcude numeric values and special character('-'). This mix of data causes Panda to treat 
the values as an object type instead of integer"""

The following is a list of columns misrepresented as `object`. Use this list to convert the columns to numeric using the `pandas.to_numeric` function in the next cell. If you encounter errors in converting strings to numeric values, you need to catch those errors and force the conversion by supplying `errors='coerce'` as an argument for `pandas.to_numeric`. Coercing will replace non-convertable elements with `NaN` which represents an undefined numeric value. This makes it possible for us to conveniently handle missing values in subsequent data processing.

*Hint: you may use a loop to change one column at a time but it is more efficient to use `apply`.*

In [16]:
wrong_type_columns = ['DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent', 
                      'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches', 
                      'SeaLevelPressureAvgInches' ,'SeaLevelPressureLowInches', 'VisibilityHighMiles',
                      'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH', 
                      'WindGustMPH', 'PrecipitationSumInches']

In [17]:
weather_df[wrong_type_columns] = weather_df[wrong_type_columns].apply(pd.to_numeric, errors='coerce')

#### Check if your code has worked by printing the data types again. You should see only two `object` columns (`Date` and `Events`) now. All other columns should be `int64` or `float64`.

In [18]:
print(weather_df.dtypes)

Date                          datetime64[ns]
TempHighF                              int64
TempAvgF                               int64
TempLowF                               int64
DewPointHighF                        float64
DewPointAvgF                         float64
DewPointLowF                         float64
HumidityHighPercent                  float64
HumidityAvgPercent                   float64
HumidityLowPercent                   float64
SeaLevelPressureHighInches           float64
SeaLevelPressureAvgInches            float64
SeaLevelPressureLowInches            float64
VisibilityHighMiles                  float64
VisibilityAvgMiles                   float64
VisibilityLowMiles                   float64
WindHighMPH                          float64
WindAvgMPH                           float64
WindGustMPH                          float64
PrecipitationSumInches               float64
Events                                object
dtype: object

# Challenge 2 - Handle the Missing Data

#### Now that we have fixed the type mismatch, let's address the missing data.

By coercing the columns to numeric, we have created `NaN` for each cell containing characters. We should choose a strategy to address these missing data.

The first step is to examine how many rows contain missing data.

We check how much missing data we have by applying the `.isnull()` function to our dataset. To find the rows with missing data in any of its cells, we apply `.any(axis=1)` to the function. `austin.isnull().any(axis=1)` will return a column containing true if the row contains at least one missing value and false otherwise. Therefore we must subset our dataframe with this column. This will give us all rows with at least one missing value. 

#### In the next cell, identify all rows containing at least one missing value. Assign the dataframes with missing values to a variable called `missing_values`.

In [23]:

missing_values = weather_df[weather_df.isnull().any(axis=1)]
missing_values

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,NaN,
6,2013-12-27,60,53,45,41.0,39.0,37.0,83.0,65.0,47.0,...,30.39,30.34,10.0,9.0,7.0,7.0,1.0,11.0,NaN,
7,2013-12-28,62,51,40,43.0,39.0,33.0,92.0,64.0,36.0,...,30.17,30.04,10.0,10.0,7.0,10.0,2.0,14.0,NaN,
42,2014-02-01,76,66,55,62.0,59.0,41.0,81.0,71.0,60.0,...,29.81,29.75,10.0,10.0,9.0,14.0,6.0,26.0,NaN,Rain
51,2014-02-10,60,48,35,49.0,36.0,30.0,82.0,74.0,66.0,...,30.15,30.02,10.0,8.0,4.0,15.0,9.0,23.0,NaN,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907,2017-06-12,94,85,75,72.0,68.0,62.0,87.0,62.0,36.0,...,29.89,29.81,10.0,10.0,2.0,15.0,7.0,22.0,NaN,Rain
3926,2017-07-01,98,89,79,76.0,72.0,66.0,85.0,62.0,38.0,...,30.02,29.92,10.0,9.0,6.0,15.0,7.0,24.0,NaN,
3942,2017-07-17,98,88,77,75.0,71.0,66.0,88.0,63.0,38.0,...,29.90,29.84,10.0,10.0,10.0,16.0,3.0,23.0,NaN,"Rain , Thunderstorm"
3946,2017-07-21,104,91,77,74.0,68.0,61.0,85.0,56.0,27.0,...,29.95,29.86,10.0,10.0,10.0,14.0,5.0,24.0,NaN,
3951,2017-07-26,103,91,78,75.0,70.0,61.0,91.0,58.0,25.0,...,30.03,29.93,10.0,10.0,10.0,15.0,6.0,27.0,NaN,

There are multiple strategies to handle missing data. Below lists the most common ones data scientists use:

* Removing all rows or all columns containing missing data. This is the simplest strategy. It may work in some cases but not others.

* Filling all missing values with a placeholder value. 
    * For categorical data, `0`, `-1`, and `9999` are some commonly used placeholder values. 
    * For continuous data, some may opt to fill all missing data with the mean. This strategy is not optimal since it can increase the fit of the model.

* Filling the values using some algorithm. 

#### In our case, we will use a hybrid approach which is to first remove the data that contain most missing values then fill in the rest of the missing values with the *linear interpolation* algorithm.

#### Next, count the number of rows of `austin` and `missing_values`.

In [26]:

missing_values_precipitation = weather_df['PrecipitationSumInches'].isna().sum()
print(f"Number of missing values in 'PrecipitationSumInches';", missing_values_precipitation)


total_rows_precipitation = len(weather_df['PrecipitationSumInches'])
print(f"Total number of rows in 'PrecipitationSumInches':",total_rows_precipitation)

Number of missing values in 'PrecipitationSumInches'; 372
Total number of rows in 'PrecipitationSumInches': 3957

In [32]:
missing_values_precipitation = weather_df['PrecipitationSumInches'].isna().sum()
print(f"Number of missing values in 'PrecipitationSumInches': {missing_values_precipitation}")

Number of missing values in 'PrecipitationSumInches': 372

#### Calculate the ratio of missing rows to total rows

In [31]:
ratio_missing_values_precipitation = missing_values_precipitation / total_rows_precipitation
print(f"Ratio of missing values in 'PrecipitationSumInches': {ratio_missing_values_precipitation:.2%}")

Ratio of missing values in 'PrecipitationSumInches': 9.40%

As you can see, there is a large proportion of missing data (over 10%). Perhaps we should evaluate which columns have the most missing data and remove those columns. For the remaining columns, we will perform a linear approximation of the missing data.

We can find the number of missing rows in each column using the `.isna()` function. We then chain the `.sum` function to the `.isna()` function and find the number of missing rows per column

#### As you can see from the output, the majority of missing data is in one column called `PrecipitationSumInches`. What's the number of missing values in this column in ratio to its total number of rows?

Almost 10% data missing! Therefore, we prefer to remove this column instead of filling its missing values. 

#### Remove this column from `austin` using the `.drop()` function. Use the `inplace=True` argument.

*Hints:*

* By supplying `inplace=True` to `drop()`, the original dataframe object will be changed in place and the function will return `None`. In contrast, if you don't supply `inplace=True`, which is equivalent to supplying `inplace=False` because `False` is the default value, the original dataframe object will be kept and the function returns a copy of the transformed dataframe object. In the latter case, you'll have to assign the returned object back to your variable.

* Also, since you are dropping a column instead of a row, you'll need to supply `axis=1` to `drop()`.

[Reference for `pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

#### Next we will perform linear interpolation of the missing data.

This means that we will use a linear algorithm to estimate the missing data. Linear interpolation assumes that there is a straight line between the points and the missing point will fall on that line. This is a good enough approximation for weather related data. Weather related data is typically a time series. Therefore, we do not want to drop rows from our data if possible. It is prefereable to estimate the missing values rather than remove the rows. However, if you have data from a single point in time, perhaps a better solution would be to remove the rows. 

If you would like to read more about linear interpolation, you can do so [here](https://en.wikipedia.org/wiki/Linear_interpolation).

In the following cell, use the `.interpolate()` function on the entire dataframe. This time pass the `inplace=False` argument to the function and assign the interpolated dataframe to a new variable called `austin_fixed` so that we can compare with `austin`.

In [51]:

austin_fixed = weather_df.interpolate(inplace=False)

print(austin_fixed)

           Date  TempHighF  TempAvgF  TempLowF  DewPointHighF  DewPointAvgF  \
0    2013-12-21         74        60        45           67.0          49.0
1    2013-12-22         56        48        39           43.0          36.0
2    2013-12-23         58        45        32           31.0          27.0
3    2013-12-24         61        46        31           36.0          28.0
4    2013-12-25         58        50        41           44.0          40.0
...         ...        ...       ...       ...            ...           ...
3952 2017-07-27        103        89        75           71.0          67.0
3953 2017-07-28        105        91        76           71.0          64.0
3954 2017-07-29        107        92        77           72.0          64.0
3955 2017-07-30        106        93        79           70.0          68.0
3956 2017-07-31         99        88        77           66.0          61.0

      DewPointLowF  HumidityHighPercent  HumidityAvgPercent  \
0             43.0                 93.0                75.0
1             28.0                 93.0                68.0
2             23.0                 76.0                52.0
3             21.0                 89.0                56.0
4             36.0                 86.0                71.0
...            ...                  ...                 ...
3952          61.0                 82.0                54.0
3953          55.0                 87.0                54.0
3954          55.0                 82.0                51.0
3955          63.0                 69.0                48.0
3956          54.0                 64.0                43.0

      HumidityLowPercent  SeaLevelPressureHighInches  \
0                   57.0                       29.86
1                   43.0                       30.41
2                   27.0                       30.56
3                   22.0                       30.56
4                   56.0                       30.41
...                  ...                         ...
3952                25.0                       30.04
3953                20.0                       29.97
3954                19.0                       29.91
3955                27.0                       29.96
3956                22.0                       30.04

      SeaLevelPressureAvgInches  SeaLevelPressureLowInches  \
0                         29.68                      29.59
1                         30.13                      29.87
2                         30.49                      30.41
3                         30.45                      30.30
4                         30.33                      30.27
...                         ...                        ...
3952                      29.97                      29.88
3953                      29.90                      29.81
3954                      29.86                      29.79
3955                      29.91                      29.87
3956                      29.97                      29.91

      VisibilityHighMiles  VisibilityAvgMiles  VisibilityLowMiles  \
0                    10.0                 7.0                 2.0
1                    10.0                10.0                 5.0
2                    10.0                10.0                10.0
3                    10.0                10.0                 7.0
4                    10.0                10.0                 7.0
...                   ...                 ...                 ...
3952                 10.0                10.0                10.0
3953                 10.0                10.0                10.0
3954                 10.0                10.0                10.0
3955                 10.0                10.0                10.0
3956                 10.0                10.0                10.0

      WindHighMPH  WindAvgMPH  WindGustMPH               Events
0            20.0         4.0         31.0  Rain , Thunderstorm
1            16.0         6.0         25.0
2             8.0         3.0         12.0
3            12.0         4.0         20.0
4            10.0         2.0         16.0
...           ...         ...          ...                  ...
3952         12.0         5.0         21.0
3953         14.0         5.0         20.0
3954         12.0         4.0         17.0
3955         13.0         4.0         20.0
3956         12.0         4.0         20.0

[3957 rows x 20 columns]

/var/folders/q5/5zcd6_2115553r1tvx9_1vk40000gn/T/ipykernel_84253/3665455819.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  austin_fixed = weather_df.interpolate(inplace=False)

#### Check to make sure `austin_fixed` contains no missing data. Also check `austin` - it still contains missing data.

# Challenge 3 - Processing the `Events` Column

#### Our dataframe contains one true text column - the Events column. We should evaluate this column to determine how to process it.

Use the `value_counts()` function to evaluate the contents of this column

In [58]:

events_counts = austin['Events'].value_counts()
print(events_counts)

Events
                             2709
Rain                          576
Rain , Thunderstorm           411
Fog , Rain , Thunderstorm      99
Fog                            63
Thunderstorm                   51
Fog , Rain                     42
Rain , Snow                     3
Fog , Thunderstorm              3
Name: count, dtype: int64

Reading the values of `Events` and reflecting what those values mean in the context of data, you realize this column indicates what weather events had happened in a particular day.

#### What is the largest number of events happened in a single day? Enter your answer in the next cell.

In [67]:
max_events = weather_df['Events'].value_counts().max()
print("Largest number of events happened in a single day:", max_events)

Largest number of events happened in a single day: 2709

#### We want to transform the string-type `Events` values to the numbers. This will allow us to apply machine learning algorithms easily.

How? We will create a new column for each type of events (i.e. *Rain*, *Snow*, *Fog*, *Thunderstorm*. In each column, we use `1` to indicate if the corresponding event happened in that day and use `0` otherwise.

Below we provide you a list of all event types. Loop the list and create a dummy column with `0` values for each event in `austin_fixed`. To create a new dummy column with `0` values, simply use `austin_fixed[event] = 0`.

In [70]:
event_list = ['Rain', 'Snow', 'Fog', 'Thunderstorm']

for event in event_list:
    austin_fixed[event] = 0
    
print(austin_fixed.head())

        Date  TempHighF  TempAvgF  TempLowF  DewPointHighF  DewPointAvgF  \
0 2013-12-21         74        60        45           67.0          49.0
1 2013-12-22         56        48        39           43.0          36.0
2 2013-12-23         58        45        32           31.0          27.0
3 2013-12-24         61        46        31           36.0          28.0
4 2013-12-25         58        50        41           44.0          40.0

   DewPointLowF  HumidityHighPercent  HumidityAvgPercent  HumidityLowPercent  \
0          43.0                 93.0                75.0                57.0
1          28.0                 93.0                68.0                43.0
2          23.0                 76.0                52.0                27.0
3          21.0                 89.0                56.0                22.0
4          36.0                 86.0                71.0                56.0

   ...  VisibilityAvgMiles  VisibilityLowMiles  WindHighMPH  WindAvgMPH  \
0  ...                 7.0                 2.0         20.0         4.0
1  ...                10.0                 5.0         16.0         6.0
2  ...                10.0                10.0          8.0         3.0
3  ...                10.0                 7.0         12.0         4.0
4  ...                10.0                 7.0         10.0         2.0

   WindGustMPH               Events  Rain  Snow  Fog Thunderstorm
0         31.0  Rain , Thunderstorm     0     0    0            0
1         25.0                          0     0    0            0
2         12.0                          0     0    0            0
3         20.0                          0     0    0            0
4         16.0                          0     0    0            0

[5 rows x 24 columns]

#### Next, populate the actual values in the dummy columns of  `austin_fixed`.

You will check the *Events* column. If its string value contains `Rain`, then the *Rain* column should be `1`. The same for `Snow`, `Fog`, and `Thunderstorm`.

*Hints:*

* Use [`pandas.Series.str.contains()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html) to create the value series of each new column.

* What if the values you populated are booleans instead of numbers? You can cast the boolean values to numbers by using `.astype(int)`. For instance, `pd.Series([True, True, False]).astype(int)` will return a new series with values of `[1, 1, 0]`.

In [72]:
for event in event_list:
    austin_fixed[event] = austin_fixed['Events'].str.contains(event).astype(int)

        Date  TempHighF  TempAvgF  TempLowF  DewPointHighF  DewPointAvgF  \
0 2013-12-21         74        60        45           67.0          49.0
1 2013-12-22         56        48        39           43.0          36.0
2 2013-12-23         58        45        32           31.0          27.0
3 2013-12-24         61        46        31           36.0          28.0
4 2013-12-25         58        50        41           44.0          40.0

   DewPointLowF  HumidityHighPercent  HumidityAvgPercent  HumidityLowPercent  \
0          43.0                 93.0                75.0                57.0
1          28.0                 93.0                68.0                43.0
2          23.0                 76.0                52.0                27.0
3          21.0                 89.0                56.0                22.0
4          36.0                 86.0                71.0                56.0

   ...  VisibilityAvgMiles  VisibilityLowMiles  WindHighMPH  WindAvgMPH  \
0  ...                 7.0                 2.0         20.0         4.0
1  ...                10.0                 5.0         16.0         6.0
2  ...                10.0                10.0          8.0         3.0
3  ...                10.0                 7.0         12.0         4.0
4  ...                10.0                 7.0         10.0         2.0

   WindGustMPH               Events  Rain  Snow  Fog Thunderstorm
0         31.0  Rain , Thunderstorm     1     0    0            1
1         25.0                          0     0    0            0
2         12.0                          0     0    0            0
3         20.0                          0     0    0            0
4         16.0                          0     0    0            0

[5 rows x 24 columns]

#### Print out `austin_fixed` to check if the event columns are populated with the intended values

In [73]:
print(austin_fixed.head())

        Date  TempHighF  TempAvgF  TempLowF  DewPointHighF  DewPointAvgF  \
0 2013-12-21         74        60        45           67.0          49.0
1 2013-12-22         56        48        39           43.0          36.0
2 2013-12-23         58        45        32           31.0          27.0
3 2013-12-24         61        46        31           36.0          28.0
4 2013-12-25         58        50        41           44.0          40.0

   DewPointLowF  HumidityHighPercent  HumidityAvgPercent  HumidityLowPercent  \
0          43.0                 93.0                75.0                57.0
1          28.0                 93.0                68.0                43.0
2          23.0                 76.0                52.0                27.0
3          21.0                 89.0                56.0                22.0
4          36.0                 86.0                71.0                56.0

   ...  VisibilityAvgMiles  VisibilityLowMiles  WindHighMPH  WindAvgMPH  \
0  ...                 7.0                 2.0         20.0         4.0
1  ...                10.0                 5.0         16.0         6.0
2  ...                10.0                10.0          8.0         3.0
3  ...                10.0                 7.0         12.0         4.0
4  ...                10.0                 7.0         10.0         2.0

   WindGustMPH               Events  Rain  Snow  Fog Thunderstorm
0         31.0  Rain , Thunderstorm     1     0    0            1
1         25.0                          0     0    0            0
2         12.0                          0     0    0            0
3         20.0                          0     0    0            0
4         16.0                          0     0    0            0

[5 rows x 24 columns]

#### If your code worked correctly, now we can drop the `Events` column as we don't need it any more.

In [78]:
austin_fixed.drop('Events', axis=1, inplace=True)

# Challenge 4 - Processing The `Date` Column

The `Date` column is another non-numeric field in our dataset. A value in that field looks like `'2014-01-06'` which consists of the year, month, and day connected with hyphens. One way to convert the date string to numerical is using a similar approach as we used for `Events`, namely splitting the column into numerical `Year`, `Month`, and `Day` columns. In this challenge we'll show you another way which is to use the Python `datetime` library's `toordinal()` function. Depending on what actual machine learning analysis you will conduct, each approach has its pros and cons. Our goal today is to practice data preparation so we'll skip the discussion here.

Here you can find the [reference](https://docs.python.org/3/library/datetime.html) and [example](https://stackoverflow.com/questions/39846918/convert-date-to-ordinal-python) for `toordinal`. The basic process is to first convert the string to a `datetime` object using `datetime.datetime.strptime`, then convert the `datetime` object to numerical using `toordinal`.

#### In the cell below, convert the `Date` column values from string to numeric values using `toordinal()`.

In [79]:

weather_df['Date'] = pd.to_datetime(weather_df['Date'])

weather_df['Date'] = weather_df['Date'].apply(lambda x: x.toordinal())

#### Print `austin_fixed` to check your `Date` column.

In [80]:
austin_fixed.head(5)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Rain,Snow,Fog,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,10.0,7.0,2.0,20.0,4.0,31.0,1,0,0,1
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,10.0,5.0,16.0,6.0,25.0,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,10.0,8.0,3.0,12.0,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,10.0,7.0,12.0,4.0,20.0,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,10.0,7.0,10.0,2.0,16.0,0,0,0,0

# Challenge 5 - Sampling and Holdout Sets

#### Now that we have processed the data for machine learning, we will separate the data to test and training sets.

We first train the model using only the training set. We check our metrics on the training set. We then apply the model to the test set and check our metrics on the test set as well. If the metrics are significantly more optimal on the training set, then we know we have overfit our model. We will need to revise our model to ensure it will be more applicable to data outside the test set.

#### In the next cells we will separate the data into a training set and a test set using the `train_test_split()` function in scikit-learn.

When using `scikit-learn` for machine learning, we first separate the data to predictor and response variables. This is the standard way of passing datasets into a model in `scikit-learn`. The `scikit-learn` will then find out whether the predictors and responses fit the model.

In the next cell, assign the `TempAvgF` column to `y` and the remaining columns to `X`. Your `X` should be a subset of `austin_fixed` containing the following columns: 

```['Date',
 'TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']```
 
 Your `y` should be a subset of `austin_fixed` containing one column `TempAvgF`.

In [82]:


X = austin_fixed[['Date', 'TempHighF', 'TempLowF', 'DewPointHighF', 'DewPointAvgF', 'DewPointLowF',
                  'HumidityHighPercent', 'HumidityAvgPercent', 'HumidityLowPercent',
                  'SeaLevelPressureHighInches', 'SeaLevelPressureAvgInches', 'SeaLevelPressureLowInches',
                  'VisibilityHighMiles', 'VisibilityAvgMiles', 'VisibilityLowMiles',
                  'WindHighMPH', 'WindAvgMPH', 'WindGustMPH', 'Snow', 'Fog', 'Rain', 'Thunderstorm']]

y = austin_fixed['TempAvgF']

In the next cell, import `train_test_split` from `sklearn.model_selection`

In [83]:
from sklearn.model_selection import train_test_split

Now that we have split the data to predictor and response variables and imported the `train_test_split()` function, split `X` and `y` into `X_train`, `X_test`, `y_train`, and `y_test`. 80% of the data should be in the training set and 20% in the test set. `train_test_split()` reference can be accessed [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).


Enter your code in the cell below:

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#### Congratulations! Now you have finished the preparation of the dataset!

# Bonus Challenge 1

#### While the above is the common practice to prepare most datasets, when it comes to time series data, we sometimes do not want to randomly select rows from our dataset.

This is because many time series algorithms rely on observations having equal time distances between them. In such cases, we typically select the majority of rows as the test data and the last few rows as the training data. We don't use `train_test_split()` to select the train/test data because it returns random selections.

In the following cell, compute the number of rows that account for 80% of our data and round it to the next integer. Assign this number to `ts_rows`.

In [85]:
ts_rows = round(0.8 * len(austin_fixed))

Assign the first `ts_rows` rows of `X` to `X_ts_train` and the remaining rows to `X_ts_test`.

In [86]:
X_ts_train = X.iloc[:ts_rows, :]
X_ts_test = X.iloc[ts_rows:, :]

Assign the first `ts_rows` rows of `y` to `y_ts_train` and the remaining rows to `y_ts_test`.

In [87]:
y_ts_train = y.iloc[:ts_rows]
y_ts_test = y.iloc[ts_rows:]